body {
  font-family: 'Bree Serif', serif;
  background-color: #485461;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.container {
  width: 100%;
  padding-top: 2%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-top: 8%;
}

.proname {
  width: 100%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 0%;
}

h3 {
  color: #FFFFFF;
  }

hr {
  border: dotted #FFFFFF 6px;
  border-bottom: none;
  width: 4%;
  opacity: 50%;
  margin-top: 2%;
}

.line {
  width: 100%;
}

.geeks {
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translate(-50%, -50%);
  margin-left: 50%
}

@media only screen and (max-width:768px) {
  .geeks {
    display: block;
    margin-left: 50%;
    margin-right: auto;
  }
}

.geeks::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    left: 0;
  }

  50% {
    left: 100%;
  }

  0% {
    left: 0;
  }
}

.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px 0;
  background: inherit;
  backdrop-filter: blur(10px);
  margin: 3% 3% 3% 3%;
  align-content: center;
}

table {
  padding: 1%;
  font-size: 15px;
  color: #FFFFFF;
  text-align: top;
}

td {
  padding: 0 10px;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.ex .multilink {
  width: auto;
}

h4 {
  padding: 0%;
  margin: 0%;
  color: #FFFFFF;
}

h6 {
  padding: 0px;
  margin: 0px;
}

p {
  color: #FFFFFF;
  opacity: 50%;
}

.Multilink {
  width: 100%;
}

.icare {
  width: 100%;
  margin-left: 0%;
}

.tsh {
  width: 100%;
}

.uss {
  width: 100%;
  margin-left: 0%;
}

#more {
  display: none;
}

#myBtn {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)
}

#myBtn {
  margin: 5px;
  padding: 2px 6px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 15px #eee;
  border-radius: 10px;
  display: block;
  font-size: 10px;
}

#myBtn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#more1 {
  display: none;
}

#myBtn1 {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)
}

#myBtn1 {
  margin: 5px;
  padding: 2px 6px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 15px #eee;
  border-radius: 10px;
  display: block;
  font-size: 10px;
}

#myBtn1:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#more2 {
  display: none;
}

#myBtn2 {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)
}

#myBtn2 {
  margin: 5px;
  padding: 2px 6px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 15px #eee;
  border-radius: 10px;
  display: block;
  font-size: 10px;
}

#myBtn2:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#more3 {
  display: none;
}

#myBtn3 {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)
}

#myBtn3 {
  margin: 5px;
  padding: 2px 6px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 15px #eee;
  border-radius: 10px;
  display: block;
  font-size: 10px;
}

#myBtn3:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}

#scrollpath {
  position: fixed;
  top: 0;
  right: 0%;
  width: 5px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0%;
  width: 5px;
  height: 100%;
  background: linear-gradient(to bottom, #26a0da 0%, #00DBDE 51%, #FC00FF 100%);
  animation: animate 5s linear infinite;
}

@keyframes animate {

  0%,
  100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}

#progressbar:before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #26a0da 0%, #00DBDE 51%, #FC00FF 100%);
  filter: blur(10px);
}

#progressbar:after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #26a0da 0%, #00DBDE 51%, #FC00FF 100%);
  filter: blur(30px);
}

footer {
  position: absolute;
  left: 0;
  background-color: rgba(0,0,0,.5);
  padding-bottom: 0px;
  width: 100%;
  height: auto;
}

.footer-content {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 20px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #FFFFFF;
}

.socials a i {
  font-size: 1.2rem;
}

.socials a:hover i{
  color: aqua;
}

.footer-bottom {
  width: 100%;
  background-color: black;
  color: #FFFFFF;
  text-align: center;
}
